name: Test

on: [push, pull_request]

jobs:
  Test:
    runs-on: ${{ matrix.os }}
    if: "! contains(toJSON(github.event.commits.*.message), '[skip-ci]')"
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest]
        python-version: [3.8]

    steps:
      - uses: actions/checkout@v3
      - name: Set up Python ${{ matrix.python-version }}
        uses: actions/setup-python@v3
        with:
          python-version: ${{ matrix.python-version }}

      - name: Install dev package
        run: |
          python -m pip install --upgrade pip
          pip install -e .

      - name: Test with pytest
        run: |
          pip install -r requirements.dev.txt
          pytest --cov=hmr/ --cov-report=xml tests/ --wait 1

      - name: Codecov
        uses: codecov/codecov-action@v2.1.0
        with:
          # User defined upload name. Visible in Codecov UI
          name: python-hmr-cov
          # Repository upload token - get it from codecov.io. Required only for private repositories
          token: 84d4e0b2-b52a-4a2a-8776-b7044c19e025

      - name: Publish to test.ipynb pypi
        env:
          FLIT_INDEX_URL: https://test.ipynb.pypi.org/legacy/
          FLIT_USERNAME: ${{ secrets.PYPI_USERNAME }}
          FLIT_PASSWORD: ${{ secrets.PYPI_PASSWORD }}
        run: flit publish || exit 0
